#jeux{
    width: 70%;
    height:100%;

    float: left;
    background-color: #106900;

}
#stat{
    width:30%;
    height:100%;
   background-color: red;


float: left;
}
html,body{
    height:100%;
    margin:0;
    padding: 0;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}
*{

}

.poubelle{
position:relative;
    bottom:130px;



}
#verte{
    background-image: url("poubelle verte.jpg");
    width:17%;
    position: revert;
    background-size: cover;
    height:300px;
    margin-top: 30%;
    margin-left:2%;
}

#jaune{
    background-image: url("poubelle jaune.jpg");
   width:17%;
    background-size: cover;
    height:300px;
    position:relative;
   bottom:430px;
    margin-left:23%;
}
#marron{
    background-image: url("poubelle marron.jpg");
    width:17%;
    background-size: cover;
    height:300px;
    position:relative;
    bottom:730px;
    margin-left:45%;
}
#bleue{
    background-image: url("poubelle bleu.jpg");
    width:17%;
    background-size: cover;
    height:300px;
    position:relative;
    bottom:1030px;
    margin-left:65%;
}

#block{
    margin-top: 2%;
    position:absolute;
    width:5%;
    height: 3%;
     margin-left:5%;
    border-radius: 30px;
    border: black solid 2px;
    padding:2% 2% 2% 2%;
    background-color: white;
    z-index: 1000;
}
.buton{
    height:7%;
    border-radius: 20px;
    margin-top: 2%;
    font-family: "Arial Black";
}
#but{

}
h1{
    font-size: 32px;
    text-shadow: -1px -1px #0c0, 1px 1px #060, -3px 0 4px #000;

    color: #090;
    padding:16px;
    font-weight:lighter;
    -moz-box-shadow: 2px 2px 6px #888;
    -webkit-box-shadow: 2px 2px 6px #888;
    box-shadow:2px 2px 6px #888;
    text-align:center;
    display:block;
    margin:16px;

}
h2{
    text-align: center;
}
span{
    font-size: 20px;
    color:#d59e13;
}
h3{
    text-align: center;
    text-decoration: underline black;
}
but6{
    margin-top: 50%;
}